<section class="home" id="home">
  <div class="home-content">
    <p class="home-tag">Welcome to my portfolio</p>
    <h1>Hello, I'm <span>Arudpa</span></h1>
    <p class="home-desc">
      A passionate creator building clean, purposeful digital experiences.
      I turn ideas into reality with design and code.
    </p>
    <div class="home-btns">
      <a href="#gallery" class="btn-primary">View Gallery</a>
      <a href="#about" class="btn-outline">About Me</a>
    </div>
  </div>
  <div class="home-image">
   <img src="Arudpa.jpg" alt="Arudpa" />
  </div>
</section>