<section class="about" id="about">
  <p class="section-label">About Me</p>
  <div class="about-grid">
    <div class="about-image">
      <img src="/arudpa logo.jpg" alt="Arudpa Logo" />
    </div>
    <div class="about-content">
      <h2>Who I Am</h2>
      <p>
        I am a fashion designer dedicated to the art of custom apparel. I believe that clothing should be a perfect blend of personal identity, clean aesthetics, and functional design. From initial sketch to the final stitch, I bring high-end, tailored concepts to life through meticulous attention to detail and creativity.
      </p>
      <p>
        What I Do:
Custom Tailoring: Creating bespoke garments designed to fit individual personalities and body types perfectly.

Aesthetic Styling: Balancing modern trends with timeless, clean design principles.

Material Curation: Sourcing and selecting high-quality fabrics that ensure both comfort and luxury.
      </p>
      <div class="about-stats">
        <div class="stat">
          <h3>5+ </h3>
          <p>Years🪡Experience</p>
        </div>
        <div class="stat">
          <h3>700+ </h3>
          <p>Customes👗Design</p>
        </div>
        <div class="stat">
          <h3>700+</h3>
          <p>Happy👤Clients</p>
        </div>
      </div>
    </div>
  </div>
</section>